<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="" th:href="@{/asset/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <div th:each="product : ${products}" class="row">
        <p th:text="${product.productId}" class="col-m-12 col-lg-3 m-4"></p>
        <p th:text="${product.productName}" class="col-m-12 col-lg-3 m-4"></p>
        <p th:text="${product.productPrice}" class="col-m-12 col-lg-3 m-4"></p>
    </div>
</div>

<script type="text/javascript" th:src="@{/asset/popper/popper.js}"></script>
<script type="text/javascript" th:src="@{/asset/bootstrap/js/bootstrap.js}"></script>

</body>
</html>